<div class="w-full">
  <h1 class="font-bold text-4xl my-4"><%= I18n.t('views.title.accreditation') %></h1>
  <h3 class="font-bold text-xl mb-4">Editar y reenviar acreditación</h3>

  <div class="flex flex-row gap-2 mb-4">
    <%= link_to raw(icon('back') + I18n.t('actions.back')), panel_accreditation_path, class: "btn btn-soft" %>
  </div>

  <%= render "form", member: @member %>
</div>
