<div class="flex flex-row gap-2">

  <% if %w[index].include? action_name %>
    <%= label_tag :filter, raw(icon('filter') + I18n.t('listings.actions.filter')), class: "btn drawer-button" %>
  <% end %>

  <% unless %w[index].include? action_name %>
    <%= link_to raw(icon('back') + I18n.t('listings.actions.index')), listings_path, class: "btn" %>
  <% end %>

  <% unless %w[new create edit update].include? action_name %>
    <%= link_to raw(icon('new') + I18n.t('listings.actions.new')), new_listing_path, class: "btn btn-primary" %>
  <% end %>

  <% unless %w[new create edit update index].include? action_name %>
    <%= link_to raw(icon('edit') + I18n.t('listings.actions.edit')), edit_listing_path(@listing), class: "btn btn-success" %>
  <% end %>

</div>
