<div class="container-fluid">
  <div class="container-title">
    <h1 class="title-text"><%= I18n.t 'listings.properties.title' %></h1>
  </div>

  <%= render "buttons" %>

  <%= render "table" %>

  <%= render "filter" %>

</div>
