<div class="container-fluid">
  <div class="container-title">
    <h1 class="title-text"><%= I18n.t 'listings.properties.title' %></h1>
    <h3 class="subtitle-text"><%= I18n.t 'listings.actions.show', id: @listing.id %></h3>
  </div>

  <%= render "buttons" %>

  <%= render @listing %>

</div>
