<% if resource.errors.any? %>
  <div class="alert alert-error" data-turbo-cache="false">
    <div>
      <ul class="list-disc list-inside text-sm">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
