<tr>
  <td><%= verified_identity.id %></td>
  <td><%= verified_identity.name %></td>
  <td><%= verified_identity.run %></td>
  <td>
    <%= link_to I18n.t('actions.show'), admin_verification_path(verified_identity), class: "btn btn-sm btn-soft" %>
  </td>
</tr>
