<div class="w-full">
  <h1 class="font-bold text-4xl my-4"><%= I18n.t('views.title.household_members') %></h1>
  <h3 class="font-bold text-xl mb-4">Agregar nuevo socio al domicilio</h3>

  <div class="flex flex-row gap-2 mb-4">
    <%= link_to raw(icon('list') + I18n.t('actions.index')), panel_members_path, class: "btn btn-soft" %>
  </div>

  <%= render "form", member: @member %>
</div>
