<div class="container-fluid">
  <div class="container-title">
    <h1 class="title-text"><%%= I18n.t '<%= plural_table_name %>.properties.title' %></h1>
    <h3 class="subtitle-text"><%%= I18n.t '<%= plural_table_name %>.actions.new', id: @<%= singular_table_name %>.id %></h3>
  </div>

  <%%= render "buttons" %>

  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>

</div>
